<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <section name="WF2XAMLSection" type="Ingenium.WF2XAML.Configuration.WF2XAMLSection, Ingenium.WF2XAML" />
 </configSections>

 <WF2XAMLSection>
  <Templates>

   <Template ControlName="WPFWindow" ClassName="Ingenium.WF2XAML.Templates.WPFWindowTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="WPFPage" ClassName="Ingenium.WF2XAML.Templates.WPFPageTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="WPFUserControl" ClassName="Ingenium.WF2XAML.Templates.WPFUserControlTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="SLUserControl" ClassName="Ingenium.WF2XAML.Templates.SLUserControlTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="WindowsPhonePage" ClassName="Ingenium.WF2XAML.Templates.WindowsPhonePage, Ingenium.WF2XAML.Templates"/>

   <Template ControlName="System.Windows.Forms.Panel" ClassName="Ingenium.WF2XAML.Templates.PanelTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.Button" ClassName="Ingenium.WF2XAML.Templates.ButtonTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.Label" ClassName="Ingenium.WF2XAML.Templates.LabelTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.TextBox" ClassName="Ingenium.WF2XAML.Templates.TextBoxTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.CheckBox" ClassName="Ingenium.WF2XAML.Templates.CheckBoxTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.RadioButton" ClassName="Ingenium.WF2XAML.Templates.RadioButtonTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.ComboBox" ClassName="Ingenium.WF2XAML.Templates.ComboBoxTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.ProgressBar" ClassName="Ingenium.WF2XAML.Templates.ProgressBarTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.GroupBox" ClassName="Ingenium.WF2XAML.Templates.GroupBoxTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.TabControl" ClassName="Ingenium.WF2XAML.Templates.TabControlTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.TabPage" ClassName="Ingenium.WF2XAML.Templates.TabItemTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.SplitContainer" ClassName="Ingenium.WF2XAML.Templates.SplitContainerTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.SplitterPanel" ClassName="Ingenium.WF2XAML.Templates.SplitPanelTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.ListBox" ClassName="Ingenium.WF2XAML.Templates.ListBoxTemplate, Ingenium.WF2XAML.Templates"/>
   <Template ControlName="System.Windows.Forms.PictureBox" ClassName="Ingenium.WF2XAML.Templates.ImageTemplate, Ingenium.WF2XAML.Templates"/>
  </Templates>
 </WF2XAMLSection>
</configuration>